h2{
   color: black;
}
#border{
    border-style: solid;
    border-color: black;
}
font_size{
    font-size: 3rem;
}
nav{
    border:1px solid yellow;
    background-color: yellow;
    }
 #Villa{
    min-height: 500px;
    width: 100%;
 }   
